---
---

@font-face {
  font-family: 'clarendon';
  src: url('fonts/clarendon-webfont.woff2') format('woff2'),
       url('fonts/clarendon-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ziclets';
  src: url('fonts/ziclets-webfont.woff2') format('woff2'),
       url('fonts/ziclets-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inconsolata';
  src: url('fonts/inconsolata-webfont.woff2') format('woff2'),
       url('fonts/inconsolata-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
	background: $bg-color;
  color: $text-color;
  font: 1.2em/1.5em $content-font;
}

main {
  margin: auto;
  width: 88vw;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-color;
  font-family: $header-font;
  line-height: 1.4;
  margin: 0;
  padding: 0;

  @include mobile {
    line-height: 1.2;
  }
}

h1 {
  font-size: 5vw;
  letter-spacing: 0.2vw;
  a {
    color: inherit;
    &:hover, &:focus, &:active {
      text-decoration: underline wavy;
    }
  }
}

h2 {
  font-size: 4vw;
  letter-spacing: 0.2vw;
  a {
    color: inherit;
    &:hover, &:focus, &:active {
      text-decoration: underline wavy;
    }
  }
}

p {
  margin: 1em 0;
}

a {
  color: $link-color;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:focus, &:active {
    color: $link-hover-color;
    text-decoration: underline;
    text-decoration-skip: ink;
  }
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  padding-left: 1em;
  text-indent: -1em;
  &:before {
      content: "â¥";
      padding-right: 0.4em;
  }
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: none;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  border-radius: 1vw;
  width: 100%;
}

img + em {
  font: italic 69%/1.5em $content-font;
  display: block;
  text-align: center;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  color: $secondary-text-color;
  font-size: 0.8em;
  a {
    color: inherit;
    &:hover {
      color: $link-hover-color;
    }
  }
}

// Specify the color of the selection
::-moz-selection {
  color: $pink;
}
::selection {
  color: $pink;
}

li:nth-child(n)::-moz-selection  {
  color: $lilacLite;
}
li:nth-child(2n)::-moz-selection {
  color: $periwinkle;
}
li:nth-child(3n)::-moz-selection {
  color: $lilac;
}

li:nth-child(n)::selection  {
  color: $lilacLite;
}
li:nth-child(2n)::selection {
  color: $periwinkle;
}
li:nth-child(3n)::selection {
  color: $lilac;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-top: 8vh;
  margin-bottom: 4vh;
  position: sticky;
  top: 0;
  background: #dcfcdc;
}

.masthead {
  margin: 0;
}

.site-info {
  text-align: center;
}

.site-description {
  color: $secondary-text-color;
  font-size: 2.4vw;
  line-height: 1.5em;
}

.posts > .post {
  margin-bottom: 8vh;
}

.posts > .post:last-child {
  margin-bottom: 8vh;
  border-bottom: none;
}

.post {
  blockquote {
    margin-left: 1em;
    color: $text-color;
    font-size: 1em;
    font-style: italic;
  }
  h2 {
    text-align: center;
  }
}

.wrapper-footer {
  margin: 10vh 0;
}

.colophon {
  color: $secondary-text-color;
  font-size: 0.8em;
  margin: auto;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
