---
---

@font-face {
  font-family: 'clarendon';
  src: url('fonts/clarendon-webfont.woff2') format('woff2'),
       url('fonts/clarendon-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ziclets';
  src: url('fonts/ziclets-webfont.woff2') format('woff2'),
       url('fonts/ziclets-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inconsolata';
  src: url('fonts/inconsolata-webfont.woff2') format('woff2'),
       url('fonts/inconsolata-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

body {
	background: $bg-color;
  color: $text-color;
  font: 3vh/1.6em $content-font;
}

.container {
  display: flex;
  margin: 10vh auto;
  width: 88vw;
}

h1, h2, h3, h4, h5, h6 {
  color: $text-color;
  font-family: $header-font;
  line-height: 1.4;
  margin: 0;
  padding: 0;

  @include mobile {
    line-height: 1.2;
  }
}

h1 {
  font-size: 5vw;
  letter-spacing: 0.2vw;
  margin-bottom: 5vh;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 4vh;
  letter-spacing: 0.2vw;
  text-align: center;
  a {
    color: inherit;
  }
}

p {
  margin: 3vh 0;
}

a {
  color: $link-color;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $link-hover-color;
  }
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  padding-left: 2vh;
  &:before {
      content: "â¥";
      padding-right: 1vh;
  }
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: none;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  border-radius: 1vh;
  width: 100%;
}

img + em {
  display: block;
  font-size: 82%;
  line-height: 1.6em;
  text-align: center;
  text-decoration: underline wavy;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  color: $secondary-text-color;
  font-size: 2.4vh;
  a {
    color: inherit;
    &:hover {
      color: $link-hover-color;
    }
  }
}

// Specify the color of the selection
::-moz-selection {
  color: $pink;
}
::selection {
  color: $pink;
}

li:nth-child(n)::-moz-selection  {
  color: $lilacLite;
}
li:nth-child(2n)::-moz-selection {
  color: $periwinkle;
}
li:nth-child(3n)::-moz-selection {
  color: $lilac;
}

li:nth-child(n)::selection  {
  color: $lilacLite;
}
li:nth-child(2n)::selection {
  color: $periwinkle;
}
li:nth-child(3n)::selection {
  color: $lilac;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 5vh;
}

.masthead {
  text-align: center;
}

.site-info {
  text-align: center;
}

.site-description {
  color: $secondary-text-color;
  font-size: 2.4vw;
  line-height: 1.5em;
  text-align: center;
}

.posts > .post {
  margin-bottom: 10vh;
}

.posts > .post:last-child {
  margin-bottom: 10vh;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 4vh 4vh;
    color: $text-color;
    font-size: 2.8vh;
    line-height: 1.5em;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 15vh;
}

.colophon {
  color: $secondary-text-color;
  font-size: 2.4vh;
  margin: auto;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
