
//
// VARIABLES
//

// Colors
$black: #000;
$darkGray: #333;
$white: #fff;
$seafoam: #dcfcdc;
$peach: #e3856b;
$lilac: #bb8fce;
$violet: #997aa6;

// Typography
$bg-color: $seafoam;
$title-color: $darkGray;
$text-color: $darkGray;
$secondary-text-color: $peach;
$link-color: $lilac;
$link-hover-color: $violet;

// Font stacks
$header-font: "ziclets", "Comic Sans", cursive;
$content-font: "clarendon", Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
